.display-all-parent{
    padding-top: 6em;
    margin:0 1rem;
}

.container-allpost{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

.all-post-card{
  /* display:flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  margin: 1em ;
    
    

}