.search {
  position: relative;
}
.searchInputs {
  height: 48px;
  display: flex;
}

.search input {
  width: 100%;
  max-width: 100%;
  height: 48px;
  border: 2px solid #002f34;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.search .searchIcon {
  margin: 10px;
  height: 5em;
  width: 48px;
  /* background-color: #ebeeef;
    display: flex; */
  place-items: center;
  color: black;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  position: absolute;
  top: 3em;
  width: 30em;
  height: 200px;
  background-color: white;
  box-shadow: #00000059 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

.dataResult :hover {
  background-color: #ebeeef;
}

#clearBtn {
  cursor: pointer;
  /* position: absolute;
    top: 0; */
}

/* ── Responsive ── */
@media (max-width: 768px) {
  .dataResult {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media (max-width: 480px) {
  .search input {
    font-size: 14px;
  }
  .dataResult {
    width: 100%;
  }
  .searchIcon svg {
    font-size: 28px;
  }
}
